.container {
  	width: 100%;
  	height: 808px;
  	position: relative;
  	border-radius: 20px;
  	background-color: #fff;
  	text-align: left;
  	font-size: 16px;
  	color: #000;
  	font-family: 'DM Sans';
}
.content {
  	position: absolute;
  	top: 42px;
  	left: 36px;
  	width: 344px;
  	display: flex;
  	align-items: flex-end;
  	justify-content: center;
  	flex-shrink: 0;
  	text-align: center;
  	color: #51e563;
  	font-family: Montserrat;
}
.contentChild {
  	width: 52px;
  	position: relative;
  	max-height: 100%;
}
.logo {
  	height: 19px;
  	width: 140px;
  	position: relative;
  	display: inline-block;
  	flex-shrink: 0;
  	margin-left: -13px;
}
.link {
  	position: absolute;
  	top: 109px;
  	left: 747px;
  	width: 102px;
  	height: 38px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.rectangleParent {
  	position: absolute;
  	top: 25px;
  	left: calc(50% - 300px);
  	width: 600px;
  	height: 65px;
  	flex-shrink: 0;
  	font-size: 24px;
}
.groupChild {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 300px);
  	border-radius: 40px;
  	background-color: #fff;
  	width: 600px;
  	height: 65px;
}
.groupItem {
  	position: absolute;
  	top: 6px;
  	left: 8px;
  	border-radius: 40px;
  	background-color: #f5f5f5;
  	width: 143px;
  	height: 53px;
}
.linkText {
  	position: absolute;
  	top: 14px;
  	left: 51px;
  	line-height: 160%;
  	font-weight: 600;
}
.linkText2 {
  	position: absolute;
  	top: 14px;
  	left: 461px;
  	line-height: 160%;
}
.link2 {
  	position: absolute;
  	top: 14px;
  	left: 331px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.linkText3 {
  	position: relative;
  	line-height: 160%;
}
.linkTextParent {
  	position: absolute;
  	top: 14px;
  	left: 192px;
  	width: 103px;
  	height: 38px;
}
.linkText4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 160%;
}
.vectorIcon {
  	position: absolute;
  	top: 15px;
  	left: 90px;
  	width: 13px;
  	height: 8px;
}
.menu {
  	position: absolute;
  	top: 71px;
  	left: 531px;
  	background-color: #05050b;
  	border: 1px solid rgba(255, 255, 255, 0.2);
  	overflow: hidden;
  	display: none;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px;
  	gap: 16px;
  	flex-shrink: 0;
  	color: #fff;
  	font-family: 'Nunito Sans';
}
.linkText5 {
  	align-self: stretch;
  	position: relative;
  	line-height: 160%;
}
.button {
  	position: absolute;
  	top: 37px;
  	left: 1187px;
  	border-radius: 100px;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 158px;
  	height: 40px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 20px;
  	flex-shrink: 0;
}
.button2 {
  	position: relative;
  	line-height: 160%;
  	font-weight: 600;
  	flex-shrink: 0;
}
.progressBarParent {
  	position: absolute;
  	top: 632px;
  	left: 43px;
  	width: 483px;
  	height: 100px;
  	flex-shrink: 0;
  	color: #c3c3c3;
}
.progressBarIcon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	max-height: 100%;
  	width: 233px;
}
.textCard {
  	position: absolute;
  	top: 22px;
  	left: 0px;
  	width: 483px;
  	height: 78px;
}
.habit {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 20px;
  	line-height: 160%;
  	display: inline-block;
  	width: 138px;
  	height: 22px;
}
.oneHabitAt {
  	position: absolute;
  	top: 34px;
  	left: 10px;
  	line-height: 160%;
  	display: inline-block;
  	width: 217px;
  	height: 26px;
}
.addressingTheRoot {
  	position: absolute;
  	top: 32px;
  	left: 266px;
  	line-height: 160%;
  	color: #343434;
  	display: inline-block;
  	width: 217px;
  	height: 46px;
}
.rectangleGroup {
  	position: absolute;
  	top: 632px;
  	left: 309px;
  	width: 248px;
  	height: 76px;
  	flex-shrink: 0;
}
.groupInner {
  	position: absolute;
  	top: 15px;
  	left: 0px;
  	border-radius: 4px;
  	width: 234px;
  	height: 61px;
}
.lineDiv {
  	position: absolute;
  	top: -3px;
  	left: -3px;
  	border-top: 6px solid #e1e1e1;
  	box-sizing: border-box;
  	width: 239px;
  	height: 6px;
}
.groupChild2 {
  	position: absolute;
  	top: -3px;
  	left: -3px;
  	border-top: 6px solid #c8fc60;
  	box-sizing: border-box;
  	width: 125px;
  	height: 6px;
}
.scienceBackedApproach {
  	position: absolute;
  	top: 20px;
  	left: 0px;
  	line-height: 160%;
  	font-weight: 600;
  	display: inline-block;
  	width: 248px;
}
.rectangleContainer {
  	position: absolute;
  	top: 632.21px;
  	left: 855px;
  	width: 243px;
  	height: 75.8px;
  	flex-shrink: 0;
  	color: #c3c3c3;
}
.rectangleDiv {
  	position: absolute;
  	top: 14.79px;
  	left: 0px;
  	border-radius: 4px;
  	width: 234px;
  	height: 61px;
}
.groupChild3 {
  	position: absolute;
  	top: -3px;
  	left: 7px;
  	border-top: 6px solid #e1e1e1;
  	box-sizing: border-box;
  	width: 239px;
  	height: 6px;
}
.movement {
  	position: absolute;
  	top: 19.79px;
  	left: 10px;
  	line-height: 160%;
  	display: inline-block;
  	width: 79px;
  	height: 12.6px;
}
.groupDiv {
  	position: absolute;
  	top: 632px;
  	left: 599px;
  	width: 234px;
  	height: 76px;
  	cursor: pointer;
  	flex-shrink: 0;
  	color: #e1e1e1;
}
.mentalWellness {
  	position: absolute;
  	top: 20px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 120px;
  	height: 12.6px;
}
.lineParent {
  	position: absolute;
  	top: 632.21px;
  	left: 1131px;
  	width: 233px;
  	height: 32.4px;
  	flex-shrink: 0;
  	color: #c3c3c3;
}
.support {
  	position: absolute;
  	top: 19.79px;
  	left: 0px;
  	line-height: 160%;
  	display: inline-block;
  	width: 61px;
  	height: 12.6px;
}
.vectorIcon2 {
  	position: absolute;
  	top: 170px;
  	left: 940px;
  	width: 468px;
  	height: 488px;
  	object-fit: cover;
  	flex-shrink: 0;
}
